In [2]:
import pandas as pd

In [3]:
#create a series from a list
data1 = [10,20,30,40,50]
series = pd.Series(data1)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
#create a DataFrame dictionary which contains of 'key' = string and 'value'=list
data2 ={
    'Name': ['Ali', 'Aya', 'Omar', 'Laila', 'Sara'],
    'Age': [23, 22, 24, 21, 25],
    'Grade': [50, 95, 85, 90, 60],
    'City': ['Cairo', 'Alexandria', 'Giza', 'Cairo', 'Giza']
}
df_2 =pd.DataFrame(data2)
print(df_2)

    Name  Age  Grade        City
0    Ali   23     50       Cairo
1    Aya   22     95  Alexandria
2   Omar   24     85        Giza
3  Laila   21     90       Cairo
4   Sara   25     60        Giza

In [5]:
#load dataset iris to view the first five rows from sklearn.dataset
from sklearn.datasets import load_iris
iris = load_iris()
df_iris= pd.DataFrame(iris.data,columns=iris.feature_names)#make DataFrame
print(df_iris.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [25]:
#viewing the last five rows from sklearn.dataset
df_iris.tail()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

In [6]:
df_iris.info() #viewing information about dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [7]:
df_iris.describe() #viewing statistical information about  the dataset

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [27]:
#describe for all data
df_iris.describe(include='all')

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [8]:
#selecting and filtering data from the same dataset (iris)
print(df_iris['sepal length (cm)'])

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length (cm), Length: 150, dtype: float64

In [9]:
#filter data using DataFrame df_2
filtersed_df_2 = df_2[df_2['Grade'] >90]
print(filtersed_df_2)

  Name  Age  Grade        City
1  Aya   22     95  Alexandria

In [10]:
# Selecting rows from index 0 to 2 (inclusive) and columns 'Name', 'Age', and 'Grade' from df_2
selected_df2= df_2.loc[0:2,['Name','Age','Grade']]
print(selected_df2)

   Name  Age  Grade
0   Ali   23     50
1   Aya   22     95
2  Omar   24     85

In [11]:
# Selecting rows from index 0 to 1 (excluding 2) and columns from index 2 to 3 (excluding 4) using iloc
selected_df2= df_2.iloc[0:2,2:4]
print(selected_df2)

   Grade        City
0     50       Cairo
1     95  Alexandria

In [12]:
#add new columns
df_2['well_grade'] = df_2['Grade'] >= 80
print(df_2)

    Name  Age  Grade        City  well_grade
0    Ali   23     50       Cairo       False
1    Aya   22     95  Alexandria        True
2   Omar   24     85        Giza        True
3  Laila   21     90       Cairo        True
4   Sara   25     60        Giza       False

In [13]:
#updating columns values by adding +5 to all values in Grade
df_2['Grade']=df_2['Grade']+5
print(df_2)

    Name  Age  Grade        City  well_grade
0    Ali   23     55       Cairo       False
1    Aya   22    100  Alexandria        True
2   Omar   24     90        Giza        True
3  Laila   21     95       Cairo        True
4   Sara   25     65        Giza       False

In [14]:
#drop data for columns ='well_grade'
df_2=df_2.drop('well_grade',axis=1)
print(df_2)

    Name  Age  Grade        City
0    Ali   23     55       Cairo
1    Aya   22    100  Alexandria
2   Omar   24     90        Giza
3  Laila   21     95       Cairo
4   Sara   25     65        Giza

In [15]:
#DataFrame has missing values
data = { 'Name' : ['aya','rehab','amira',None,'ward'],
         'ID': [1,2,3,4,None],
         'grade' : [100,None,76,80,None]
}
df_3 = pd.DataFrame(data)
print(df_3)

    Name   ID  grade
0    aya  1.0  100.0
1  rehab  2.0    NaN
2  amira  3.0   76.0
3   None  4.0   80.0
4   ward  NaN    NaN

In [16]:
#Handling missing values by using isnull() function
print(df_3.isnull())

    Name     ID  grade
0  False  False  False
1  False  False   True
2  False  False  False
3   True  False  False
4  False   True   True

In [17]:
#changing names of Rows
df_2=pd.DataFrame(data2,index=['A','B','C','D','E'])
print(df_2)

    Name  Age  Grade        City
A    Ali   23     50       Cairo
B    Aya   22     95  Alexandria
C   Omar   24     85        Giza
D  Laila   21     90       Cairo
E   Sara   25     60        Giza

In [18]:
#Replace all NULL values with zero
df_4=df_3.fillna(0)
print(df_4)

    Name   ID  grade
0    aya  1.0  100.0
1  rehab  2.0    0.0
2  amira  3.0   76.0
3      0  4.0   80.0
4   ward  0.0    0.0

In [19]:
#Replace all NULL values with mean
df_4 = df_3.fillna(df_3.mean(numeric_only=True))
print(df_4)

    Name   ID       grade
0    aya  1.0  100.000000
1  rehab  2.0   85.333333
2  amira  3.0   76.000000
3   None  4.0   80.000000
4   ward  2.5   85.333333

In [20]:
#Replace all NULL values with mean for grade columns
df_3['grade'].fillna(df_3['grade'].mean())

0    100.000000
1     85.333333
2     76.000000
3     80.000000
4     85.333333
Name: grade, dtype: float64

In [21]:
#Handling missing values with dropna()
df_3.dropna()

    Name   ID  grade
0    aya  1.0  100.0
2  amira  3.0   76.0

In [22]:
#change ID with double values with 'apply
def double_ID(x):
    return x*2
df_3['ID'].apply(double_ID)

0    2.0
1    4.0
2    6.0
3    8.0
4    NaN
Name: ID, dtype: float64

In [23]:
# Creating a DataFrame with 'Department' and 'Salary' columns
df = pd.DataFrame({
    'Department': ['HR', 'IT', 'HR', 'IT'],
    'Salary': [50000, 60000, 45000, 80000]
})
# Grouping the DataFrame by the 'Department' column and calculating the mean salary for each department
grouped = df.groupby('Department').mean()
print(grouped)

             Salary
Department
HR          47500.0
IT          70000.0